.cook {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn {
    border-radius: 50px;
    border: none;
    margin-top: 5px;
    padding: 5px;
    background: #e0e0e0;
    box-shadow: 2px 2px 6px #bebebe;
    font-size: 1.2rem;
    transition: transform 0.1s ease-in-out;
  }
  
  .btn:hover {
    box-shadow: 4px 3px 6px #bebebe, -2px -2px 6px #ffffff;
    transform: translate(0.2px, -1px);
    cursor: pointer;
  }
  
  .btn:active {
    box-shadow: 4px 3px 6px #bebebe, -2px -2px 6px #ffffff;
    transform: translateY(0px);
  }
